body{
  font-family: helvetica, sans-serif;
}

#cabecario{
   height:220px;
   background-color:white; 
   text-align:center;  
   margin:auto;
   overflow: hidden;

}
 
#linkface{
 float:right;
 margin-bottom:500px; 

}

header h1{
  font-family: helvetica, sans-serif;
    font-size: 20px;  
}

nav ul li{
  display:inline-block;
  font-size:16px;
  padding:5px, 5px;
   
}

/* botao de menu*/
.botaomenu{ 
 color: white;
text-decoration: none;
text-transform: uppercase;
border: none;
background-color:#00BFFF;
cursor: pointer;
padding:19px;
box-shadow:0 0px 0 #00BFFF; 
}

.botaomenu:hover{
   background:#0000FF;
   box-shadow:0 0px 0 #0000FF; 
}

#menu{
  margin:auto;
  background-color:DeepSkyBlue;
  width:-9999px;
  min-height:10px;
  padding:4px;
}

#tituloposte{
  text-align: center;
  color: #00BFFF;
  font-size: 30px;
  
}

#textoposte{
  padding: 18px;
  font-family: arial;
  text-align:justify;
  
}

.rodape{

  background-color:DeepSkyBlue;
}


#botaopostar{
  color:blue;
  padding:4px;
}

.rodape{
  position: relative;
  top: 2em;
  height:200px;
  background-color:DeepSkyBlue;
}

#leiamais{
  margin:auto;
  position:relative;
  left:20px;
  background-color:white;
  width:1000px;
  height:600px;
  margin-top:20px;
  padding:20px;
  color: black;
}

#palavraComentario{
  color: #00BFFF;
}





